<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>LOTTO CHART</title>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div id="app">
    <div id="chart"></div>
</div>

<script th:src="@{webjars/vue/vue.min.js}"></script>
<script th:src="@{webjars/apexcharts/dist/apexcharts.min.js}"></script>

<script type="module" th:src="@{js/main.js}"></script>


</body>
</html>